body
    margin: 0
    padding: 0

iframe
    position: absolute
    width: 100%
    display: table
    height: 100%

.drop
    border-radius: 5px
    background-color: rgba(0, 0, 0, 0.2)
    padding: 5px
    position: absolute
    top: 5px
    right: 5px
    z-index: 99

.drop-inner
    width: 40px
    height: 40px
    background-image: url('../images/square_targeting_interface_symbol.svg')
    background-size: contain
