mixin iescript(rule, ...scripts)
    | 
    <!--[if #{rule}]>
    each script in scripts
        script(src=script)
    | 
    <![endif]-->
    
doctype html
head
    meta(charset='UTF-8')

    title Just the Video
    meta(name='description', content='Pop-up embedded video player')
    meta(name='author', content='Batandwa Colani <i@batandwa.me>')

    // Mobile Specific Meta
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    | <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
     
    //-<!-- build:css /css/site.min.css -->
    
    // Bootstrap
    link(href='assets/css/bootstrap.css', rel='stylesheet')

    // Custom stylesheet
    link(rel='stylesheet', href='assets/css/style.css')
    link(rel='stylesheet', href='assets/css/responsive.css', media='screen')
    link(rel='stylesheet', href='css/custom.css')
    
    // Added google font
    link(href='css/fonts.css', rel='stylesheet', type='text/css')
    
    // Fav and touch icons
    link(rel='shortcut icon', href='assets/images/icons/favicon.ico')
    link(rel='apple-touch-icon', href='assets/images/icons/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='assets/images/icons/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='assets/images/icons/apple-touch-icon-114x114.png')
        
    //-<!-- endbuild -->
    
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    +iescript(
        'lt IE 9',
        'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js',
        'https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js'
    )

body
    // Preloader
    #faceoff
        #preloader
        .preloader-section

    // banner start
    section#banner.banner.norm-img: .trans-bg: .container-fluid: .row: .col-sm-12
            h2
                a.lg-logo(href='') Just the Video
                
            ul.slider
                li Pop-out a video
                li Keep the features of the cloud player
                li Uses a bookmark(let), no installation
                    
            .download-block.text-center
                a.btn-download(href='#{bookmarklet}') Just the Video
                span Drag this button to your toolbar

    footer#footer.norm-img(style='background-position: 50% 200px;')
        .trans-bg: .container: .row: .col-sm-12.text-center: .copyright
            p 
                | &copy; 
                span Just the Video 
                span.copyright-year 2016
                | , all right reserved
            p
                | Design by 
                span CodePassenger
                | - Developed by
                span &nbsp;
                    a(href="http://batandwa.me") Batandwa Colani

    //-<!-- build:js /js/jquery.min.js -->
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='assets/js/jquery.min.js')
    //-<!-- endbuild -->

    //-<!-- build:js /js/site.min.js -->
    // Include all compiled plugins (below), or include individual files as needed
    script(src='assets/js/bootstrap.js')
    script(src='js/custom.js')
    //-<!-- endbuild -->
