html(lang="en")
    head
        title Just the Video
        //-<!-- build:css /css/watch.min.css -->
        link(rel="stylesheet", href="/css/watch.css")
        //-<!-- endbuild -->
    body
        //-<!-- build:js /js/watch.min.js -->
        script(src='/js/watch.js')
        //-<!-- endbuild -->
