html(lang="en")
    head
        title Just the Video
        //-<!-- build:css /css/watch.min.css -->
        link(rel="stylesheet", href="/css/watch.css")
        //-<!-- endbuild -->
    body
        div#drop.drop
        //- div#jq.drop
        div#h5.drop
        a(href="/watch.html") You look like a fucking worm with braids
            
        //-<!-- build:js /js/watch.min.js -->
        script(src='components/jquery/jquery.js')
        script(src='/components/dropzone/dist/dropzone.js')
        script(src='/js/watch.js')
        script(src='/js/drop.js')
        //-<!-- endbuild -->
